.navbar-container {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%
}
.home-link {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 100%;
}

.navlink-container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    color: #fff;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
